<%- model_class = Provider -%>
<div class="page-header">
  <h1 style="font-family: 'Lobster', cursive;"><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%= show_for @provider do |f| %>
  <%= f.attributes :name, :cpfCnpj, :phone, :localization %>
<% end %>

<%= form_actions @provider %>
