tr class = 'nested-fields'
  td = f.association :component, label: false, collection: @company.components
  td = f.input :quantity, label: false
  td = f.input :description, label: false
  td = link_to_remove_association "Remover", f, :class => 'btn btn-danger btn-sm'
