<tr class="fields">
  <%= f.input :description, label: false, wrapper: :nested %>
  <%= f.input :quantity, label: false, wrapper: :nested %>
  <%= f.association :component, label: false, wrapper: :nested %>
  
  <td> 
    <%= link_to_remove_association t('helpers.links.destroy'), f, :class => "btn btn-mini btn-danger",
           wrapper_class: 'fields' %> 
  </td>
</tr>    