<div class="nested-fields">
  <%= f.input :description %>
  <%= f.input :quantity %>
  <%= f.association :component %>
  
  <%= link_to_remove_association t('helpers.links.destroy'), f, :class => "btn btn-mini btn-danger" %>
</div>