<tr class="fields">
  <td> <%= f.input :description, label: false, wrapper: :nested %> </td>
  <td> <%= f.input :quantity, label: false, wrapper: :nested %> </td>
  <td> <%= f.association :component, label: false, wrapper: :nested %> </td>
  
  <td> <%= link_to_remove_association t('helpers.links.destroy'), f, :class => "btn btn-mini btn-danger" %> </td>
</tr>    