<%- model_class = Fixture -%>
<div class="page-header">
  <h1 style="font-family: 'Lobster', cursive;"><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%= show_for @fixture do |f| %>
  <%= f.attributes :number, :warranty, :provider, :acquisition, :type, :person, :purchaseValue %>
<% end %>

<%= form_actions @fixture %>
