h1 = t 'layout.maintenance_requests'

== render 'requests/index', requests: @maintenance_requests, maintenance_request: true

= link_to t_title_new('maintenance_request'), new_company_maintenance_request_path, class: 'btn btn-primary'
