h1 = t 'layout.purchase_requests'

== render 'requests/index', requests: @purchase_requests, maintenance_request: false

= link_to t_title_new('purchase_request'), new_company_purchase_request_path, class: 'btn btn-primary'
