= simple_form_for [@company, @maintenance], html: { class: 'form-horizontal' }, wrapper: :horizontal_form  do |f|
  = f.error_notification

  = f.input :description
  = f.input :date, html5: true
  = f.input :value
  = f.association :person

  fieldset
    legend = t ('layout.components')
    = render('budget_maintenances_table', :f => f)
    = link_to_add_fields("  Add a Pilot", f, :budget_maintenances, :class => "btn btn-primary", :title => "Add a new Pilot to the list of Pilots that fly this Ship.")

  = f.submit class: 'btn btn-success'
