/*
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap_and_overrides';
@import 'translation_missing';
@import 'font-awesome';
@import 'bootstrap-datepicker3';

.avatar {
  border-radius: 6px;
}

.personal-info {
  border-left: 1px solid #edeff1;
}

.navbar {
  border-radius: 0px;
}