<p>Olá <%= @resource.email %>!</p>

<p>Alguem requisitou o link para a troca da senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requereu isso, por favor ignore este email.</p>
<p>Você não mudará sua senha até acessar o link acima e criar uma nova.</p>
