- unless user_signed_in?
  p
    |Precisando de um software para <strong>controlar os ativos</strong> da sua empresa ? Com o controleativos.com voce pode gerenciar todos os seus <strong>imobilizados</strong> de forma simples e flexivel. O site facilita o <strong>inventário</strong> de qualquer tipo de ativo, <strong>ativos de TI(Computador, Impressora, Mouses, Teclados, etc), itens de escritório, entre outros.</strong> 
  p
    |Com o controleativos.com você consegue registrar toda a vida dos <strong>bens patrimoniais</strong> da empresa, desde sua <strong>compra, manutenção, até o descarte</strong> do mesmo. Com ele é possivel levantar <strong>históricos</strong> de qualquer lugar.