<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div role = "alert" class="fade in alert alert-<%= name.eql?('notice') ? "success" : "danger" %>">
      <%= msg %>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
<% end %>
